.cortado {
  text-decoration: line-through;
}

.valor {
  color: #F00;
  font-size: 30px;
}

.card {
  margin-bottom: 15px;
}

nav .navbar-nav li a{
  color: rgb(3, 3, 3) !important;
  float: right;
  }

.navbar2 {
  background-color: white;
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%; 
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none ;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #b6b5b5;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  float: top;
  background-color: black;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: start;
}

span {
  margin-left: 14px;
}

.btn {
background-color: #bce8f0;
}











